@font-face {
    font-family: Shabnam;
    src: url('../../assets/font/Shabnam/Shabnam.eot');
    src: url('../../assets/font/Shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
       url('../../assets/font/Shabnam/Shabnam.woff2') format('woff2'),
       url('../../assets/font/Shabnam/Shabnam.woff') format('woff'),
       url('../../assets/font/Shabnam/Shabnam.ttf') format('truetype');
font-weight: normal;
}